@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1F2A5A;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E63946;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1F2A5A #f1f1f1;
}